.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}
.showcase::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  /* box-shadow: inset 120px 100px 250px #000000; */
}
.showcase-top{
  position: relative;
  height: 90px;
   z-index: 2;
}
.showcase-top img{
  width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  
}
.showcase-top a{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%,-50%);
  color:white;
}

.showcase-content{
   position: relative;
   margin: auto;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   text-align: center;
    z-index: 2;
   margin-top: 9rem;
}
.showcase-content h1{
  font-weight: 700;
  color: #fff;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem; 
}
.showcase-content p{
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;

}